@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f7fee7;
    --foreground: #262626;
    --card: #f7fee7;
    --card-foreground: #262626;
    --popover: #f7fee7;
    --popover-foreground: #262626;
    --primary: #65a30d;
    --primary-foreground: #ffffff;
    --primary-hover: #4d7c0f;
    --primary-loading: #a3e635;
    --secondary: #f5f5f5;
    --secondary-foreground: #171717;
    --secondary-hover: #e5e5e5;
    --secondary-loading: #f5f5f5;
    --secondary-loading-foreground: #525252;
    --disabled: #f5f5f5;
    --disabled-foreground: #a3a3a3;
    --muted: #e5e5e5;
    --muted-foreground: #a3a3a3;
    --accent: #ecfccb;
    --accent-foreground: #171717;
    --destructive: #dc2626;
    --destructive-foreground: #ffffff;
    --destructive-hover: #b91c1c;
    --destructive-loading: #f87171;
    --border: #65a30d;
    --input: #65a30d;
    --ring: #65a30d;

    --brand-50: #f7fee7;
    --brand-100: #ecfccb;
    --brand-200: #d9f99d;
    --brand-300: #bef264;
    --brand-400: #a3e635;
    --brand-500: #84cc16;
    --brand-600: #65a30d;
    --brand-700: #4d7c0f;
    --brand-800: #3f6212;
    --brand-900: #365314;
    --brand-950: #1a2e05;
  }

  body {
    @apply bg-brand-100 text-foreground m-0 p-0 box-border scroll-smooth;
  }

  h1 {
    @apply text-5xl font-semibold;
  }

  h2 {
    @apply text-4xl font-semibold;
  }

  h3 {
    @apply text-3xl font-semibold;
  }

  h4 {
    @apply text-2xl font-semibold;
  }

  h5 {
    @apply text-xl font-semibold;
  }

}

@layer components {
  
}

@layer utilities {
  .wrapper {
    @apply w-full max-w-6xl mx-auto px-4 sm:px-8 py-4;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-end {
    @apply flex items-center justify-end;
  }

  .flex-start {
    @apply flex items-center justify-start;
  }

  .flex-around {
    @apply flex items-center justify-around;
  }

  .flex-stretch {
    @apply flex items-center justify-stretch;
  }

  .absolute-center {
    @apply top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .form_input {
    @apply w-full flex rounded-lg p-3 text-sm text-neutral-400 shadow-sm focus:outline-none focus:ring-1 focus:ring-primary;
  }

  .form_input_label_wrapper {
    @apply flex flex-col w-full gap-2;
  }

  .form {
    @apply flex items-start flex-col gap-4 max-w-sm p-2 w-full;
  }

  .label {
    @apply text-base text-neutral-500;
  }

}